*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    line-height: 30px;
    word-wrap: break-word;
    font-weight: 400;
    vertical-align: baseline;
    color: #767676;
}
.nav-bar{
    display: none;
}
.nav-content{
    display: none;
    flex-direction: column;
    gap: 5px;
    transition: 2s;
}
.nav-bar-small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    width: 100%;
    transition: 1s;
    height: 5;
    /* align-items: center; */
    /* animation: slide 1s linear 2s 3 linear ; */
}
/* //transform: translate3d(0.0133333px, 2.84175px, 0px); */
.nav-bar-small h1{
    font-size: 20px;
    color: #767676;
}
.nav-bar-small ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.nav-bar-small ul li{
    list-style-type:none ;


}
.nav-bar-small ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.nav-bar-small ul li a:hover, .nav-bar-small ul li a:active{
    color:red;
}
.hamburger-menu img{
    width: 30px;
}
.active:active{
    color: red;
}
/* .scroll{
    background-color: white;
}
.scroll h1{
    color: black;
}
.scroll{
    color: black;
}
.menu-content .nav-content ul li a{
    color: black;
} */
 #home{
    display: flex;
    background-color: #302a2a;
    align-items: center;
    /* width: 100vw; */
    justify-content: center;
    height:100vh;
    line-height: 40px;
}
#home img{
    /* width: 100vw; */
    overflow: hidden;

}
#home .text{
    color: white;
    text-wrap:nowrap;
    animation: animate 3s ease-in-out 2s  1 forwards;
}
#home .text h1{
    font-size: 50px;
}
#home .text h1 marquee{
    font-size: 20px;
    font-style: italic;
    color: #767676;
}
#about{
    display: flex;
    flex-direction: column;
    margin: 50px 20px;
}
#about img{
    border-radius: 10px;
}
#about .abt-text h2{
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 700;
    line-height: 1.4;
    color: #000;
    padding-top: 40px;
    padding-bottom: 40px;
}
#about .abt-text p{
    color: #767676;
    padding-bottom: 30px;
}
#about .abt-text h2 span{
    color: red;
}
#about .abt-text ul li{
    color: #000;
    list-style-type: square;
    padding-bottom: 30px;
}
#about .abt-text button{
    font-size: 15px;
    letter-spacing: 2px;
    color: white;
    background-color: #e54b4b;
    padding: 15px 40px;
    border-radius: 5px;
    border: none;
}
#about .abt-text button:hover{
    background-color: #fff;
    border: 2px solid #e54b4b;
    color: #767676;
    cursor: pointer;
}
#projects{
    /* margin: 20px 50px; */
    background-color: rgb(249, 246, 246);
}
#projects h2{
    color: #000;
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    text-align: left;
    padding-top: 30px;
    /* text-wrap: nowrap; */
}
#projects span{
    color: red;
}
#projects .project-links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
}

 a {
    text-decoration: none;
    color: #302a2a;
    font-weight: 800;
    font-size: 30px;

}
 #box1 a:hover{
    color: pink;
}
 #box2 a:hover{
    color: cyan;
}
 #box3 a:hover{
    color: rgb(30, 197, 239);
}
 #box4 a:hover{
    color: red;
}
 #box5 a:hover{
    color: blue;
}
 #box6 a:hover{
    color: rgb(150, 238, 18);
}
#projects .project-links #box1,#box2,#box3,#box4,#box5,#box6{
    width: 320px;
    height: 320px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    border-radius: 10px;
}
.project-links #box-margin{
    margin-top: 90px;

}

#box1{
    background-color: pink;
}
#box1:hover{
    background-color: white;
    border: 2px solid pink;
    cursor: pointer;
}
#box2{
    background-color: cyan;
}
#box2:hover{
    background-color: white;
    border: 2px solid cyan;
    cursor: pointer;
}
#box3{
    background-color: rgb(30, 197, 239);
}
#box3:hover{
    background-color: white;
    border: 2px solid rgb(30, 197, 239);
    cursor: pointer;
}
#box4{
    background-color: red;
}
#box4:hover{
    background-color: white;
    border: 2px solid red;
    cursor: pointer;
}
#box5{
    background-color: blue;
}
#box5:hover{
    background-color: white;
    border: 2px solid blue;
    cursor: pointer;
}
#box6{
    background-color: rgb(150, 238, 18);
}
#box6:hover{
    background-color: white;
    border: 2px solid rgb(150, 238, 18);
    cursor: pointer;
}
.three-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}

#skills{
    padding: 90px 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    width: 100%;
}
#skills .des h2{
    color: #000;
    padding-bottom: 30px;
}
#skills .des{
    width:100%;
}
#skills .records {
width:100%
}
#skills .records div{
    width: 100%;
}
.text-record{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap:100px;
}
.main-bar{
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: #e6e5e5;
    border: 1px solid black;
}
.main-bar #html-bar{
    height: 10px;
    border-radius: 10px;
    background-color: #e54b4b;
    max-width: 85%;
}
.main-bar #css-bar{
    height:10px;
    border-radius: 10px;
    background-color: #e54b4b;
    max-width: 80%;
}
.main-bar #js-bar{
    height: 10px;
    border-radius: 10px;
    background-color: #e54b4b;
    max-width: 50%;
}
.contact-link{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    background-color: #000;
    width: 100%;
    align-items: left;
    height: 150px;
    padding-left: 20px;

}

.contact-link p{
color: white;
text-align: left;
font-size: 40px;
line-height: 40px;
padding-bottom: 30px;
}
.contact-link div{
    display: flex;
}
#short-line{
    width: 20px;
    height: 2px;
    background-color: #fff;
    flex-direction: row;
    margin-top: 32px;
}
.contact-link a{
    border-bottom: 2px solid rgba(208, 205, 205, 0.231);
    width: fit-content;
    color: white;
    font-size: 15px;
}
.contact-link a:hover{
    border-bottom: 2px solid white;
}

 @media(min-width:768px){
    .hamburger-menu{
        display: none;
    }
    .nav-bar-small h1{
        display: none;
    }
    .nav-bar{
        display: flex;
        justify-content: space-around;
        z-index: 1000;
        position: fixed;
        width: 100%;
        height: 10%;
        align-items: center;
        background-color: transparent;
        box-shadow: 0.5px 0.1px #302a2a;
        animation: animate 1s ease-in-out 2s  1 forwards;
    }
    @keyframes animate{
        from{
            opacity: 0;
            transform: translate(0, 100px);
            /* filter: blur(33px); */
        }
        to{
            opacity: 1;
            transform: translate(0);
            /* filter: blur(0); */
        }
    }
    .nav-bar ul{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .nav-bar ul li{
        list-style-type: none;
    }
    .nav-bar ul li a{
        text-decoration: none;
        color: white;
        font-size: 10px;
    }
    .nav-bar ul li a:hover, .nav-bar ul li a:active{
        color: red;
    }
    .nav-bar h1{
        font-size: 15px;
        letter-spacing: 2px;
        color: white;
    }
    .scrolled{
        background-color: #fff;
    }
    .scrolled h1{
        color: black;
    }
    .scrolled ul li a{
        color: black;
    }
    #home{
        /* width: 100%; */
        /* height: 100vh; */
        justify-content: center;
        font-size: 20px;
    }
    #home img{
        width: 40vw;
    }
    #home .text h1{
        font-size: 30px;
        font-weight: 400;
    }
    #home .text h1 marquee{
        font-size: 15px;
        font-style: italic;
        color: #767676;
    }
    #about{
        flex-direction: row;
        justify-content: space-evenly;
    }
    #about img{
        width: 30%;
    }
    #about .abt-text {
        width: 30%;
    }
    .three-box{
        flex-direction: row;
        gap: 20px;
        padding-bottom: 20px;
    }
    #skills{
        padding: 90px 0;
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        flex-direction: row;
        gap: 100px;
        width: 100%;
    }
    #skills .des h2{
        color: #000;
        padding-bottom: 30px;
    }
    #skills .des{
        width: 35%;
    }
    #skills .records {
    width: 35%;
    }
    #skills .records div{
        width: 100%;
    }
    .text-record{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 200px;
    }
    .contact-link{
        flex-direction: row;
        align-items: center;
        gap: 400px;
        padding-right: 20px;
    }
   
   
 }